@inherits LayoutComponentBase

<!DOCTYPE html>
<head>
    <title>Welcome to GibJohn Tutoring</title>
    <link rel="stylesheet" href="css/style.css"> 
</head>

<header>
    <div>
        <ul class="navbarlist">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/Teacher_Materials">Teacher Materials</a></li>
            <li><a href="/Assessments">Assessments</a></li>
            <li><a href="/Lesson_Explorer">Lesson Explorer</a></li>
            <li><a href="/register">Register</a></li>
            <li style="float:right;"><a href="/login">Login</a></li>
        </ul>
    </div>

</header>
<body>
    @Body
</body>