<h3>Assessments</h3>
@page "/Assessments"
<link rel="stylesheet" href="css/style.css">
<br>
<br>

<div class="QuestionContainer">
    <div class="Question">
        What quiz would you like to do?
    </div>
    <div class="AnswerContainer">
   
        <a class="Answer" href="/MathsQuiz">
            Maths
        </a>
        <a class="Answer" href ="/EnglishQuiz">
            English
        </a>
        <a class="Answer" href ="/ScienceQuiz">
            Science
        </a>
        <a class="Answer" href ="/HistoryQuiz">
            History
        </a>
    </div>
</div>
<br />
<div class="hometext">
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Points</th>
        </tr>
        <tr>
            <th>1</th>
            <th>ExampleUser</th>
            <th>0</th>
        </tr>
        <tr>
            <th>2</th>
            <th>ExampleUser</th>
            <th>0</th>
        </tr>
        <tr>
            <th>3</th>
            <th>ExampleUser</th>
            <th>0</th>
        </tr>
        <tr>
            <th>4</th>
            <th>ExampleUser</th>
            <th>0</th>
        </tr>
        <tr>
            <th>5</th>
            <th>ExampleUser</th>
            <th>0</th>
        </tr>
    </table>
</div>

@code {

}
