<h3>Home</h3>
@page "/"
<br>
<br>
<br>
<br>

<div class="homebar">
    Welcome to GibJohn Tutoring
</div>
<br>
<div class="homeimagecon">
   
</div>
<br>
<div class="hometext">

    Welcome to GibJohn Tutoring<br>
    Discover a smarter way to learn with GibJohn Tutoring!<br>
    Our platform offers a wide range of teaching materials, interactive lessons, and personalized support across multiple subjects. Whether you're mastering math, exploring science, or improving your language skills, we make learning engaging and effective. With gamified challenges and rewards, we turn studying into an adventure. Join thousands of learners and start achieving your academic goals today!
</div>

@code {

}
