<h3>Lesson_Explorer</h3>
@page "/Lesson_Explorer"
<br>
<br>
<div class="container">
    Maths
    <a href="/maths/Year_6">Year 6</a>
    <a href="/maths/Year_5">Year 5</a>
    <a href="/maths/Year_4">Year 4</a>
    <a href="/maths/Year_3">Year 3</a>
    <a href="/maths/Year_2">Year 2</a>
    <a href="/maths/Year_1">Year 1</a>
</div>
<br />
<br />
<div class="container">
    Science
    <a href="/science/Year_6">Year 6</a>
    <a href="/science/Year_5">Year 5</a>
    <a href="/science/Year_4">Year 4</a>
    <a href="/science/Year_3">Year 3</a>
    <a href="/science/Year_2">Year 2</a>
    <a href="/science/Year_1">Year 1</a>
</div>
<br />
<br />
<div class="container">
    English
    <a href="/english/Year_6">Year 6</a>
    <a href="/english/Year_5">Year 5</a>
    <a href="/english/Year_4">Year 4</a>
    <a href="/english/Year_3">Year 3</a>
    <a href="/english/Year_2">Year 2</a>
    <a href="/english/Year_1">Year 1</a>
</div>
<br />
<br />
<div class="container">
    History
    <a href="/history/Year_6">Year 6</a>
    <a href="/history/Year_5">Year 5</a>
    <a href="/history/Year_4">Year 4</a>
    <a href="/history/Year_3">Year 3</a>
    <a href="/history/Year_2">Year 2</a>
    <a href="/history/Year_1">Year 1</a>
</div>
@code {

}
