@page "/login"
@using GibJohn.Models
@using GibJohn.Utilities
@inject GibJohn.Services.UserService UserService
@inject NavigationManager NavigationManager
@inject UserSession UserSession

@rendermode InteractiveServer
<link rel="stylesheet" href="css/style.css">
<h3>Login</h3>


<div class="login">
    <div>
        <label>Username:</label>
        <br>
        <InputText @bind-Value="newUser.Username" />
    </div>

    <div>
        <label>Password:</label>
        <br>
        <InputText @bind-Value="newUser.Password" type="password" />
    </div>
    <div>
        <label style="color:red">@message</label>
    </div>
    <button @onclick=@LoginUser >Login</button>
</div>


@code {
    private User newUser = new User();
    private string password;
    private string message;


    private async Task LoginUser()
    {
        message = ""; 

        if (newUser.Username == null)
        {
            message = "Please enter a username";
        }
        if (newUser.Password == null)
        {
            message = "Please enter a password";
        }
        message = ("Didnt");
        newUser = await UserService.LogIn(newUser);
        message = ("Got here");
        if (newUser == null)
        {
            message=("Could not Login");
        }
        else
        {
            UserSession.UserID = newUser.UserId;
            NavigationManager.NavigateTo("/");
        }
    }
}

