@page "/login"
@using GibJohn.Models
@inject GibJohn.Services.UserService UserService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<link rel="stylesheet" href="css/style.css">
<h3>Login</h3>
<PageTitle>Login</PageTitle>

<div class="login">
    <div>
        <label>Username:</label>
        <br>
        <InputText @bind-Value="newUser.Username" />
    </div>

    <div>
        <label>Password:</label>
        <br>
        <InputText @bind-Value="password" type="password" />
    </div>
    <div>
        <label style="color:red">@message</label>
    </div>
    <button type="submit">Login</button>
</div>


@code {
    private User newUser = new User();
    private string password;
    private string message;


    private async Task HandleValidSubmit()
    {
        message = ""; 
        
        if (newUser.Username == null)
        {
            message = "Please enter a username";
        }
        if (password == null)
        {
            message = "Please enter a password";
        }
        newUser = await UserService.LogIn(newUser);
        if (newUser == null)
        {
            Console.WriteLine("Could not Login");
        }
        else
        {
            UserSession.UserID = newUser.UserId;
            NavigationManager.NavigateTo("/");
        }
    }
}

