<h3>Page</h3>
@page "/1"
<br />
<br />
<br />
<div class="CardContainer">
    <div class="card">
        <img src="Images/books.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <div class="card">
        <img src="Images/books.jpg" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
</div>
@code {

}
