<h3>Teacher_Materials</h3>
@page "/Teacher_Materials"
<br>
<div class="teachbar">
    Maths
    <br>
    <div class="teachcon">
        Lesson Plans:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Year 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 6: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessments:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessment Markschemes:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
</div>
<br>
<div class="teachbaralt">
    History
    <br>
    <div class="teachcon">
        Lesson Plans:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Year 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 6: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessments:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessment Markschemes:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
</div>
<br>
<div class="teachbar">
    English
    <br>
    <div class="teachcon">
        Lesson Plans:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Year 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 6: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessments:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessment Markschemes:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
</div>
<br>
<div class="teachbaralt">
    Science
    <br>
    <div class="teachcon">
        Lesson Plans:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Year 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Year 6: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessments:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
    <div class="teachcon">
        Assessment Markschemes:<br>
        <ul>
            <li><a href="/Downloads/Download.txt" download>Topic 1: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 2: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 3: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 4: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 5: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 6: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 7: Download Link</a></li>
            <li><a href="/Downloads/Download.txt" download>Topic 8: Download Link</a></li>
        </ul>
    </div>
</div>
@code {

}
